USE [master]
GO
/****** Object:  Database [CutieShop]    Script Date: 4/7/2018 11:21:50 PM ******/
CREATE DATABASE [CutieShop]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CutieShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CutieShop]
GO
USE [CutieShop]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 4/7/2018 11:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 4/7/2018 11:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[ProductID] [varchar](36) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Smell] [nvarchar](50) NOT NULL,
	[OriginID] [varchar](36) NOT NULL,
	[MaterialID] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ads_Camp]    Script Date: 4/7/2018 11:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads_Camp](
	[ID_Image] [varchar](36) NOT NULL,
	[ID_Compaign] [varchar](36) NOT NULL,
 CONSTRAINT [PK__Ads_Camp__31E45A2AD8385851] PRIMARY KEY CLUSTERED 
(
	[ID_Image] ASC,
	[ID_Compaign] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisement]    Script Date: 4/7/2018 11:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisement](
	[ID_Image] [varchar](36) NOT NULL,
	[Image_Name] [varchar](50) NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Image] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 4/7/2018 11:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[Username] [varchar](36) NOT NULL,
	[Password] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cage]    Script Date: 4/7/2018 11:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cage](
	[ProductID] [varchar](36) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[MaterialID] [varchar](36) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[OriginID] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign]    Script Date: 4/7/2018 11:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign](
	[ID_Compaign] [varchar](36) NOT NULL,
	[Campaign_Name] [nvarchar](255) NOT NULL,
	[From] [date] NOT NULL,
	[To] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Compaign] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/7/2018 11:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID_Cat] [varchar](36) NOT NULL,
	[Cat_Name] [nvarchar](255) NOT NULL,
	[Description_Cat] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Constrain]    Script Date: 4/7/2018 11:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Constrain](
	[ID_Constrain] [varchar](36) NOT NULL,
	[TypeOfConstrain] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Constrain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/7/2018 11:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[UserName] [varchar](36) NOT NULL,
	[Customer_Name] [nvarchar](255) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone_Number] [int] NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](255) NOT NULL,
 CONSTRAINT [Customer_UserName_pk] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Constrain]    Script Date: 4/7/2018 11:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Constrain](
	[UserName] [varchar](36) NOT NULL,
	[ID_Constrain] [varchar](36) NOT NULL,
 CONSTRAINT [PK__Customer__C9F2845779F9D4DA] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[ID_Constrain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 4/7/2018 11:21:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ProductID] [varchar](36) NOT NULL,
	[NutritionID] [varchar](36) NOT NULL,
	[OriginID] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 4/7/2018 11:21:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[ID_Invoice] [varchar](36) NOT NULL,
	[Sum] [int] NOT NULL,
	[Branch_Address] [nvarchar](255) NOT NULL,
	[UserName] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Details]    Script Date: 4/7/2018 11:21:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Details](
	[ID_Invoice_Detail] [varchar](36) NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[ID_Invoice] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Invoice_Detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JoinXX]    Script Date: 4/7/2018 11:21:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinXX](
	[ID_Report] [varchar](36) NOT NULL,
	[ID_TDK] [varchar](36) NOT NULL,
	[ID_NTK] [varchar](36) NOT NULL,
	[ID_XTK] [varchar](36) NOT NULL,
	[ID_TCK] [varchar](36) NOT NULL,
	[ID_Join] [varchar](36) NOT NULL,
 CONSTRAINT [JoinXX_ID_JoinXX_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Report] ASC,
	[ID_TDK] ASC,
	[ID_NTK] ASC,
	[ID_XTK] ASC,
	[ID_TCK] ASC,
	[ID_Join] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 4/7/2018 11:21:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialID] [varchar](36) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapTrongKy]    Script Date: 4/7/2018 11:21:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapTrongKy](
	[ID_NTK] [varchar](36) NOT NULL,
	[Quantity_NTK] [int] NOT NULL,
	[Total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nutrition]    Script Date: 4/7/2018 11:21:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nutrition](
	[NutritionID] [varchar](36) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NutritionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineOrder]    Script Date: 4/7/2018 11:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineOrder](
	[OnlineOrderID] [varchar](36) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PostCode] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PhoneNo] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Username] [varchar](36) NOT NULL,
	[Date] [date] NOT NULL,
	[StatusID] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OnlineOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineOrderProduct]    Script Date: 4/7/2018 11:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineOrderProduct](
	[OnlineOrderID] [varchar](36) NOT NULL,
	[ProductID] [varchar](36) NOT NULL,
 CONSTRAINT [PK__OnlineOr__12FABD0D5CD2BBEF] PRIMARY KEY CLUSTERED 
(
	[OnlineOrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/7/2018 11:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_Order] [varchar](36) NOT NULL,
	[Total] [int] NOT NULL,
	[ID_Status] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origin]    Script Date: 4/7/2018 11:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origin](
	[OriginID] [varchar](36) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OriginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 4/7/2018 11:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[ProductID] [varchar](36) NOT NULL,
	[SizeID] [varchar](36) NOT NULL,
	[LifeSpan] [int] NOT NULL,
	[CubQuantity] [int] NOT NULL,
	[IsFurDrop] [int] NOT NULL,
	[EatingRoutine] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 4/7/2018 11:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[Name] [varchar](36) NOT NULL,
	[MinimumValue] [int] NOT NULL,
	[MaximumValue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Cat]    Script Date: 4/7/2018 11:21:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Cat](
	[ID_Product] [varchar](36) NOT NULL,
	[ID_Cat] [varchar](36) NOT NULL,
 CONSTRAINT [PK__Product___522DE4960007B0F1] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC,
	[ID_Cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/7/2018 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID_Product] [varchar](36) NOT NULL,
	[Image] [text] NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Price] [int] NOT NULL,
	[Export_Day] [date] NOT NULL,
	[ID_Vendor] [varchar](36) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 4/7/2018 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ID_Report] [varchar](36) NOT NULL,
	[Date_EI_warehouse] [date] NOT NULL,
 CONSTRAINT [Report_ID_Report_pk] PRIMARY KEY CLUSTERED 
(
	[ID_Report] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report_Details]    Script Date: 4/7/2018 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report_Details](
	[ID] [varchar](36) NOT NULL,
	[ID_Product] [varchar](36) NOT NULL,
	[Product_Nane] [nvarchar](255) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[ID_Join] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOnlineOrder]    Script Date: 4/7/2018 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOnlineOrder](
	[ServiceOnlineOrderID] [varchar](36) NOT NULL,
	[PetID] [varchar](36) NOT NULL,
	[DateBegin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceOnlineOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePet]    Script Date: 4/7/2018 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePet](
	[ProductID] [varchar](36) NOT NULL,
	[PetID] [varchar](36) NOT NULL,
 CONSTRAINT [PK__ServiceP__B40CC6EDA2F6E1FC] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 4/7/2018 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ID] [varchar](36) NOT NULL,
	[TypeOfService] [nvarchar](50) NOT NULL,
	[ExpireDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 4/7/2018 11:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionID] [varchar](36) NOT NULL,
	[Username] [varchar](36) NOT NULL,
	[IsDeleted] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignUp_Services]    Script Date: 4/7/2018 11:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignUp_Services](
	[ID_Service] [varchar](36) NOT NULL,
	[Customer_Name] [nvarchar](255) NOT NULL,
	[Phone_Number] [int] NOT NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignUpServices_Services]    Script Date: 4/7/2018 11:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignUpServices_Services](
	[ID_SignUp] [varchar](36) NOT NULL,
	[ID_Service] [varchar](36) NOT NULL,
 CONSTRAINT [PK__SignUpSe__AAF06CED9AEAB5E0] PRIMARY KEY CLUSTERED 
(
	[ID_SignUp] ASC,
	[ID_Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 4/7/2018 11:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[SizeID] [varchar](36) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 4/7/2018 11:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID_Status] [varchar](36) NOT NULL,
	[Order_Status] [nvarchar](255) NOT NULL,
	[Description] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 4/7/2018 11:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonCuoiKy]    Script Date: 4/7/2018 11:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonCuoiKy](
	[ID_TCK] [varchar](36) NOT NULL,
	[Quantity_TCK] [int] NOT NULL,
	[Total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonDauKy]    Script Date: 4/7/2018 11:21:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonDauKy](
	[ID_TDK] [varchar](36) NOT NULL,
	[Quantity_TDK] [int] NOT NULL,
	[Total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toy]    Script Date: 4/7/2018 11:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toy](
	[ProductID] [varchar](36) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[OriginID] [varchar](36) NOT NULL,
	[MaterialID] [varchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPoint]    Script Date: 4/7/2018 11:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPoint](
	[Username] [varchar](36) NOT NULL,
	[Value] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPointHistory]    Script Date: 4/7/2018 11:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPointHistory](
	[Username] [varchar](36) NOT NULL,
	[ChangedValue] [int] NOT NULL,
	[OnlineOrderID] [varchar](36) NOT NULL,
 CONSTRAINT [PK__UserPoin__536C85E576C1CDAC] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[OnlineOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 4/7/2018 11:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[ID_Vendor] [varchar](36) NOT NULL,
	[Vendor_Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Vendor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatTrongKy]    Script Date: 4/7/2018 11:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatTrongKy](
	[ID_XTK] [varchar](36) NOT NULL,
	[Quantity_XTK] [int] NOT NULL,
	[Total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_XTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK__Join__C6245294E9242C75]    Script Date: 4/7/2018 11:22:00 PM ******/
ALTER TABLE [dbo].[JoinXX] ADD  CONSTRAINT [PK__Join__C6245294E9242C75] UNIQUE NONCLUSTERED 
(
	[ID_Report] ASC,
	[ID_TDK] ASC,
	[ID_NTK] ASC,
	[ID_XTK] ASC,
	[ID_TCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [JoinXX_ID_Join_uindex]    Script Date: 4/7/2018 11:22:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [JoinXX_ID_Join_uindex] ON [dbo].[JoinXX]
(
	[ID_Join] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 4/7/2018 11:22:00 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [Accessory_Material_MaterialID_fk] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [Accessory_Material_MaterialID_fk]
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [Accessory_Origin_OriginID_fk] FOREIGN KEY([OriginID])
REFERENCES [dbo].[Origin] ([OriginID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [Accessory_Origin_OriginID_fk]
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [Accessory_Products_ID_Product_fk] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [Accessory_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[Ads_Camp]  WITH CHECK ADD  CONSTRAINT [Ads_Camp_Advertisement_ID_Image_fk] FOREIGN KEY([ID_Image])
REFERENCES [dbo].[Advertisement] ([ID_Image])
GO
ALTER TABLE [dbo].[Ads_Camp] CHECK CONSTRAINT [Ads_Camp_Advertisement_ID_Image_fk]
GO
ALTER TABLE [dbo].[Ads_Camp]  WITH CHECK ADD  CONSTRAINT [Ads_Camp_Campaign_ID_Compaign_fk] FOREIGN KEY([ID_Compaign])
REFERENCES [dbo].[Campaign] ([ID_Compaign])
GO
ALTER TABLE [dbo].[Ads_Camp] CHECK CONSTRAINT [Ads_Camp_Campaign_ID_Compaign_fk]
GO
ALTER TABLE [dbo].[Auth]  WITH CHECK ADD  CONSTRAINT [Auth_Customer_UserName_fk] FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([UserName])
GO
ALTER TABLE [dbo].[Auth] CHECK CONSTRAINT [Auth_Customer_UserName_fk]
GO
ALTER TABLE [dbo].[Cage]  WITH CHECK ADD  CONSTRAINT [Cage_Material_MaterialID_fk] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[Cage] CHECK CONSTRAINT [Cage_Material_MaterialID_fk]
GO
ALTER TABLE [dbo].[Cage]  WITH CHECK ADD  CONSTRAINT [Cage_Origin_OriginID_fk] FOREIGN KEY([OriginID])
REFERENCES [dbo].[Origin] ([OriginID])
GO
ALTER TABLE [dbo].[Cage] CHECK CONSTRAINT [Cage_Origin_OriginID_fk]
GO
ALTER TABLE [dbo].[Cage]  WITH CHECK ADD  CONSTRAINT [Cage_Products_ID_Product_fk] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[Cage] CHECK CONSTRAINT [Cage_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[Customer_Constrain]  WITH CHECK ADD  CONSTRAINT [Customer_Constrain_Constrain_ID_Constrain_fk] FOREIGN KEY([ID_Constrain])
REFERENCES [dbo].[Constrain] ([ID_Constrain])
GO
ALTER TABLE [dbo].[Customer_Constrain] CHECK CONSTRAINT [Customer_Constrain_Constrain_ID_Constrain_fk]
GO
ALTER TABLE [dbo].[Customer_Constrain]  WITH CHECK ADD  CONSTRAINT [Customer_Constrain_Customer_UserName_fk] FOREIGN KEY([UserName])
REFERENCES [dbo].[Customer] ([UserName])
GO
ALTER TABLE [dbo].[Customer_Constrain] CHECK CONSTRAINT [Customer_Constrain_Customer_UserName_fk]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [Food_Nutrition_NutritionID_fk] FOREIGN KEY([NutritionID])
REFERENCES [dbo].[Nutrition] ([NutritionID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [Food_Nutrition_NutritionID_fk]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [Food_Origin_OriginID_fk] FOREIGN KEY([OriginID])
REFERENCES [dbo].[Origin] ([OriginID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [Food_Origin_OriginID_fk]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [Food_Products_ID_Product_fk] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [Food_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [Invoice_Customer_UserName_fk] FOREIGN KEY([UserName])
REFERENCES [dbo].[Customer] ([UserName])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [Invoice_Customer_UserName_fk]
GO
ALTER TABLE [dbo].[Invoice_Details]  WITH CHECK ADD  CONSTRAINT [Invoice_Details_Invoice_ID_Invoice_fk] FOREIGN KEY([ID_Invoice])
REFERENCES [dbo].[Invoice] ([ID_Invoice])
GO
ALTER TABLE [dbo].[Invoice_Details] CHECK CONSTRAINT [Invoice_Details_Invoice_ID_Invoice_fk]
GO
ALTER TABLE [dbo].[JoinXX]  WITH CHECK ADD  CONSTRAINT [Join_NhapTrongKy_ID_NTK_fk] FOREIGN KEY([ID_NTK])
REFERENCES [dbo].[NhapTrongKy] ([ID_NTK])
GO
ALTER TABLE [dbo].[JoinXX] CHECK CONSTRAINT [Join_NhapTrongKy_ID_NTK_fk]
GO
ALTER TABLE [dbo].[JoinXX]  WITH CHECK ADD  CONSTRAINT [Join_Report_ID_Report_fk] FOREIGN KEY([ID_Report])
REFERENCES [dbo].[Report] ([ID_Report])
GO
ALTER TABLE [dbo].[JoinXX] CHECK CONSTRAINT [Join_Report_ID_Report_fk]
GO
ALTER TABLE [dbo].[JoinXX]  WITH CHECK ADD  CONSTRAINT [Join_TonCuoiKy_ID_TCK_fk] FOREIGN KEY([ID_TCK])
REFERENCES [dbo].[TonCuoiKy] ([ID_TCK])
GO
ALTER TABLE [dbo].[JoinXX] CHECK CONSTRAINT [Join_TonCuoiKy_ID_TCK_fk]
GO
ALTER TABLE [dbo].[JoinXX]  WITH CHECK ADD  CONSTRAINT [Join_TonDauKy_ID_TDK_fk] FOREIGN KEY([ID_TDK])
REFERENCES [dbo].[TonDauKy] ([ID_TDK])
GO
ALTER TABLE [dbo].[JoinXX] CHECK CONSTRAINT [Join_TonDauKy_ID_TDK_fk]
GO
ALTER TABLE [dbo].[JoinXX]  WITH CHECK ADD  CONSTRAINT [Join_XuatTrongKy_ID_XTK_fk] FOREIGN KEY([ID_XTK])
REFERENCES [dbo].[XuatTrongKy] ([ID_XTK])
GO
ALTER TABLE [dbo].[JoinXX] CHECK CONSTRAINT [Join_XuatTrongKy_ID_XTK_fk]
GO
ALTER TABLE [dbo].[OnlineOrder]  WITH CHECK ADD  CONSTRAINT [OnlineOrder_Customer_UserName_fk] FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([UserName])
GO
ALTER TABLE [dbo].[OnlineOrder] CHECK CONSTRAINT [OnlineOrder_Customer_UserName_fk]
GO
ALTER TABLE [dbo].[OnlineOrder]  WITH CHECK ADD  CONSTRAINT [OnlineOrder_Status_ID_Status_fk] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID_Status])
GO
ALTER TABLE [dbo].[OnlineOrder] CHECK CONSTRAINT [OnlineOrder_Status_ID_Status_fk]
GO
ALTER TABLE [dbo].[OnlineOrderProduct]  WITH CHECK ADD  CONSTRAINT [OnlineOrderProduct_OnlineOrder_OnlineOrderID_fk] FOREIGN KEY([OnlineOrderID])
REFERENCES [dbo].[OnlineOrder] ([OnlineOrderID])
GO
ALTER TABLE [dbo].[OnlineOrderProduct] CHECK CONSTRAINT [OnlineOrderProduct_OnlineOrder_OnlineOrderID_fk]
GO
ALTER TABLE [dbo].[OnlineOrderProduct]  WITH CHECK ADD  CONSTRAINT [OnlineOrderProduct_Products_ID_Product_fk] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[OnlineOrderProduct] CHECK CONSTRAINT [OnlineOrderProduct_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Orders_Status_ID_Status_fk] FOREIGN KEY([ID_Status])
REFERENCES [dbo].[Status] ([ID_Status])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Orders_Status_ID_Status_fk]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [Pet_Products_ID_Product_fk] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [Pet_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [Pet_Size_SizeID_fk] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Size] ([SizeID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [Pet_Size_SizeID_fk]
GO
ALTER TABLE [dbo].[Product_Cat]  WITH CHECK ADD  CONSTRAINT [Product_Cat_Categories_ID_Cat_fk] FOREIGN KEY([ID_Cat])
REFERENCES [dbo].[Categories] ([ID_Cat])
GO
ALTER TABLE [dbo].[Product_Cat] CHECK CONSTRAINT [Product_Cat_Categories_ID_Cat_fk]
GO
ALTER TABLE [dbo].[Product_Cat]  WITH CHECK ADD  CONSTRAINT [Product_Cat_Products_ID_Product_fk] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[Product_Cat] CHECK CONSTRAINT [Product_Cat_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [Products_Vendors_ID_Vendor_fk] FOREIGN KEY([ID_Vendor])
REFERENCES [dbo].[Vendors] ([ID_Vendor])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [Products_Vendors_ID_Vendor_fk]
GO
ALTER TABLE [dbo].[Report_Details]  WITH CHECK ADD  CONSTRAINT [Report_Details_JoinXX_ID_Join_fk] FOREIGN KEY([ID_Join])
REFERENCES [dbo].[JoinXX] ([ID_Join])
GO
ALTER TABLE [dbo].[Report_Details] CHECK CONSTRAINT [Report_Details_JoinXX_ID_Join_fk]
GO
ALTER TABLE [dbo].[ServiceOnlineOrder]  WITH CHECK ADD  CONSTRAINT [ServiceOnlineOrder_OnlineOrder_OnlineOrderID_fk] FOREIGN KEY([ServiceOnlineOrderID])
REFERENCES [dbo].[OnlineOrder] ([OnlineOrderID])
GO
ALTER TABLE [dbo].[ServiceOnlineOrder] CHECK CONSTRAINT [ServiceOnlineOrder_OnlineOrder_OnlineOrderID_fk]
GO
ALTER TABLE [dbo].[ServiceOnlineOrder]  WITH CHECK ADD  CONSTRAINT [ServiceOnlineOrder_Pet_ProductID_fk] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pet] ([ProductID])
GO
ALTER TABLE [dbo].[ServiceOnlineOrder] CHECK CONSTRAINT [ServiceOnlineOrder_Pet_ProductID_fk]
GO
ALTER TABLE [dbo].[ServicePet]  WITH CHECK ADD  CONSTRAINT [ServicePet_Pet_ProductID_fk] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pet] ([ProductID])
GO
ALTER TABLE [dbo].[ServicePet] CHECK CONSTRAINT [ServicePet_Pet_ProductID_fk]
GO
ALTER TABLE [dbo].[ServicePet]  WITH CHECK ADD  CONSTRAINT [ServicePet_Products_ID_Product_fk] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[ServicePet] CHECK CONSTRAINT [ServicePet_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [Session_Customer_UserName_fk] FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([UserName])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [Session_Customer_UserName_fk]
GO
ALTER TABLE [dbo].[SignUpServices_Services]  WITH CHECK ADD  CONSTRAINT [SignUpServices_Services_Services_ID_fk] FOREIGN KEY([ID_Service])
REFERENCES [dbo].[Services] ([ID])
GO
ALTER TABLE [dbo].[SignUpServices_Services] CHECK CONSTRAINT [SignUpServices_Services_Services_ID_fk]
GO
ALTER TABLE [dbo].[SignUpServices_Services]  WITH CHECK ADD  CONSTRAINT [SignUpServices_Services_SignUp_Services_ID_Service_fk] FOREIGN KEY([ID_SignUp])
REFERENCES [dbo].[SignUp_Services] ([ID_Service])
GO
ALTER TABLE [dbo].[SignUpServices_Services] CHECK CONSTRAINT [SignUpServices_Services_SignUp_Services_ID_Service_fk]
GO
ALTER TABLE [dbo].[Toy]  WITH CHECK ADD  CONSTRAINT [Toy_Material_MaterialID_fk] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[Toy] CHECK CONSTRAINT [Toy_Material_MaterialID_fk]
GO
ALTER TABLE [dbo].[Toy]  WITH CHECK ADD  CONSTRAINT [Toy_Origin_OriginID_fk] FOREIGN KEY([OriginID])
REFERENCES [dbo].[Origin] ([OriginID])
GO
ALTER TABLE [dbo].[Toy] CHECK CONSTRAINT [Toy_Origin_OriginID_fk]
GO
ALTER TABLE [dbo].[Toy]  WITH CHECK ADD  CONSTRAINT [Toy_Products_ID_Product_fk] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID_Product])
GO
ALTER TABLE [dbo].[Toy] CHECK CONSTRAINT [Toy_Products_ID_Product_fk]
GO
ALTER TABLE [dbo].[UserPoint]  WITH CHECK ADD  CONSTRAINT [UserPoint_Customer_UserName_fk] FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([UserName])
GO
ALTER TABLE [dbo].[UserPoint] CHECK CONSTRAINT [UserPoint_Customer_UserName_fk]
GO
ALTER TABLE [dbo].[UserPointHistory]  WITH CHECK ADD  CONSTRAINT [UserPointHistory_Customer_UserName_fk] FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([UserName])
GO
ALTER TABLE [dbo].[UserPointHistory] CHECK CONSTRAINT [UserPointHistory_Customer_UserName_fk]
GO
ALTER TABLE [dbo].[UserPointHistory]  WITH CHECK ADD  CONSTRAINT [UserPointHistory_OnlineOrder_OnlineOrderID_fk] FOREIGN KEY([OnlineOrderID])
REFERENCES [dbo].[OnlineOrder] ([OnlineOrderID])
GO
ALTER TABLE [dbo].[UserPointHistory] CHECK CONSTRAINT [UserPointHistory_OnlineOrder_OnlineOrderID_fk]
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 4/7/2018 11:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 4/7/2018 11:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 4/7/2018 11:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 4/7/2018 11:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 4/7/2018 11:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 4/7/2018 11:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 4/7/2018 11:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
USE [master]
GO
