<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="chatboxButtonBar.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
</head>

<body>
    <div id="ChatboxButtonBar">
        <div id="EmojiTable" style="display: none">
            <span class="Emoji">
                😀
            </span>
            <span class="Emoji">
                😁
            </span>
            <span class="Emoji">
                😂
            </span>
            <span class="Emoji">
                🤣
            </span>
        </div>
        <div id="BarContainer">
            <span>
                <img src="/svg/PhotoIcon.svg" class="BarIcon PhotoIcon">
            </span>
            <span>
                <img src="/svg/EmojiIcon.svg" class="BarIcon EmojiIcon">
            </span>
        </div>
    </div>
</body>

<form method="POST">

</form>

<script type="text/javascript" src="chatboxButtonBar.js"></script>
</html>